@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: darkgray;
    margin-bottom: 20px;
}

header > h1{
    flex: 0 0 200px;
    align-self: center;
    text-align: center;
    font-size: 2.5em; 
    padding: 5px 0px 0px 10px;  
}


header > menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header > menu > a.link{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    background-color: rgb(88, 77, 77);
    border-radius: 5px;
}

header > menu > a.link:hover{
    text-decoration: underline;
    background-color: lightgray;
    color: black;
    transition-duration: 0.5s;
}

main{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
    width: 70%;
    margin: auto;
    border-radius: 7px;

}

main > h2{
    margin-bottom: 10px;
    padding:10px 0px 0px 5px;
}

main > p{
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}




