@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Darling';
    src: url('fontes/Darling.otf') format('opentype');
}


header{
     background-color: black;
     min-height: 270px;
     max-height: 400px;
 }
header>h1{
    padding-top: 30px;
     text-align: center;
     color: white;
     font-weight: bold;
     font-size: 4em;

}

nav{
    color: white;
    text-align: center;
}
nav a {
    color: white;
}

section{
    background-color: white;
    height: 900px;
    padding: 10px 0px 0px 30px;
}

section p{
    font-size: 3em;
    text-align: justify;
    
    
    

}

#transparent{
    background-color: rgba(0, 0, 0, 0.295);
    height: 900px;
    margin: 30px 0px 0px 30px;
    min-width: 270px;
    max-width: 550px;
    border-radius: 10px;

}

#imagem{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
}

#texto2{
    height: 1700px;

}
#transparent p {
    font-size: 3em;
    color: white;
    
}



#transparent2{
    background-color: rgba(0, 0, 0, 0.575);
    min-width: 270px;
    max-width: 550px;
    max-height: 850px;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;

}
#transparent2 p {
    color: white;
}
#imagem2{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
}

 
#texto3{
    margin: 0px 0px 30px 30px;
}

footer{
    margin-top: 900px;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}

footer >a{
    text-decoration: none;
    color: rgb(144, 206, 214);
    font-weight: bolder;
    font-size: 19px;

}
footer a:hover {
    text-decoration: underline;
    

     
}






 

